:root {
    --main-font-color: lightgray;
    --main-background: #0C0C0C;
    --border-color: black;
    --selection-color: #474b4d;
    --scrollbar-track-color: #24292e;
    --scrollbar-thumb-color: #6b6c6e;
    --scrollbar-thumb-hover-color: 	hsl(233, 42%, 51%);
    --header-background-color: #0C0C0C;
    --header-button-hover-color: hsl(233, 42%, 51%);
    --main-control-background-color: #0C0C0C;
    --main-control-start-button-background-color: #4e5ab7;
    --main-control-start-button-hover-color:hsl(233, 42%, 51%);
    --main-control-select-background-color: #4e5ab7;
    --main-control-hover-background-color: hsl(233, 42%, 51%);
    --log-background: #0A0A0A;
    --log-text-color: lightgray;
    --log-text-warn-color: rgb(255, 192, 92);
    --log-text-error-color: rgb(255, 96, 96);
    --modal-box-background-color: rgba(0,0,0,0.6);
    --modal-box-content-background-color: #1d2125;
    --settings-background-color: #0C0C0C;
    --mod-card-background-color: none;
    --mod-card-info-font-color: darkgrey;
    --mod-card-disabled-border-color: #ff5050;
    --float-element-text-color: grey;
    --float-element-hover-background-color:  hsl(233, 42%, 51%);
}